#rotator-spacer {
	display: block;
	position: relative;
	height: 490px;
	
	@media all and (max-width:$tablet-width) {
		height: 190px;
	}
}

#rotator-container {
	position: absolute;
	top: 0;
	// background?
	// background: transparent url(images/header-bg-fs.jpg) no-repeat center top;
	// background-size: cover;
	z-index: 105;
}

#rotator {
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: $rotator-height;
	
	@media all and (max-width:$tablet-width) {
		height: 573px;
	}
	@media all and (max-width:$mobile-width) {
		height: 243px;
	}
	
	& > .cycle-slideshow {
		position: relative;
		height: $rotator-height;
		z-index: 1;
		
		@media all and (max-width:$tablet-width) {
			height: 573px;
		}
		@media all and (max-width:$mobile-width) {
			height: 243px;
		}
		
		& > div {
			position: relative;
			width: 100%;
			height: $rotator-height;
			overflow: hidden;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			@media all and (max-width:$tablet-width) {
				height: 573px;
			}
			@media all and (max-width:$mobile-width) {
				height: 243px;
			}
			
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	
}
#rotator-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: $rotator-height;
	z-index: 2;
	
	@media all and (max-width:$tablet-width) {
		height: 573px;
	}
	@media all and (max-width:$mobile-width) {
		height: 243px;
	}
			
	.rotator-slide {
		height: $rotator-height;
		
		@media all and (max-width:$tablet-width) {
			height: 573px;
		}
		@media all and (max-width:$mobile-width) {
			height: 243px;
		}
			
		.slide-content {
			box-sizing: border-box;
			position: absolute;
			top: 290px;
			
			@media all and (max-width:$tablet-width) {
				top: 190px;
			}
			@media all and (max-width:$mobile-width) {
				top: 72px;
			}
			
			p {
				width: 58.333%;
				padding-left: 8.333%;
				
				@media all and (max-width:$tablet-width) {
					width: 75%;
				}
				@media all and (max-width:$mobile-width) {
					width: 512px;
				}
				@media all and (max-width:539px) {
					width: 90%;
				}
				
			}
			.slide-title {
				font: 600 48px/1.2 $copy-font;
				color: $white;
				margin-bottom: 30px;
				
				@media all and (max-width:$mobile-width) {
					font: 600 24px/1.2 $copy-font;
					margin-bottom: 20px;
				}
			}
			.slide-button a {
				display: inline-block;
				width: 320px;
				text-align: center;
				font: 700 24px/24px $copy-font;
				color: $brown-color;
				text-decoration: none;
				padding: 20px 0;
				background-color: $yellow-color;
				
				&:hover {
					color: $yellow-color;
					background-color: $brown-color;
				}
				
				@media all and (max-width:$mobile-width) {
					font: 700 18px/18px $copy-font;
					padding: 14px 0;
				}
				@media all and (max-width:479px) {
					width: 210px;
				}
			}
		}
	}
	
	
}
#rotator-wave {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 205px;
	width: 100%;
	background: transparent url(images/rotator-wave-fs.png) no-repeat top center;
	background-size: cover;
	pointer-events: none;
	z-index: 1;
	
	@media all and (max-width:$mobile-width) {
		display: none;
	}
}
#rotator-title {
	position: absolute;
	right: calc(50% - 640px);
	bottom: 20px;
	z-index: 2;
	font: 30px/30px $title-font;
	color: $white;

	@media all and (max-width:$site-width) {
		right: 20px;
	}
	@media all and (max-width:$mobile-width) {
		display: none;
	}
}
#rotator-pager {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	text-align: center;
	z-index: 3;
	
	@media all and (max-width:$mobile-width) {
		display: none;
	}
	
	a { // pager bullets
		font: bold 32px/40px $copy-font;
		color: $black;
		text-decoration: none;
		cursor: pointer;
		
		&.cycle-pager-active {
			color: $red;
		}
	}
}
#rotator-controls {
	display: none;
	position: absolute;
	top: $rotator-height / 2;
	left: 0;
	width: 100%;
	z-index: 3;
	
	.prev, .next {
		position: absolute;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		font: bold 16px/20px $copy-font;
		text-decoration: none;
		color: $black;
	}
	.prev {
		left: 20px;
	}
	.next {
		right: 20px;
	}
}
