$site-width: 1279px;
$tablet-width: 1024px;
$mobile-width: 767px;

$primary-nav-box-height: 85px;
$dropdown-width: 180px;
$rotator-height: 673px;
$interior-rotator-height: 200px;

$black: #202020;
$white: #fff; //#e0e0e0;
$gray: #808080;
$red: #c00000;

$sage-color: #9dc183;
$yellow-color: #ffd305;
$brown-color: #553911;
$green-color: #336739;
$tan-color: #fafadf;

@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,700|Slabo+27px&display=swap');
$icon-font: "FontAwesome", symbol;
$copy-font: "Raleway", sans-serif;
$title-font: "Slabo 27px", sans-serif;